body {
	font-family: "微软雅黑";
	background-color: #f2f2f2;
}
hr {
	margin: 10px 0;
}
.panel {
	width: 90%;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, .3) 1px 1px 6px;
}
.panel h1 {
	font-size: 16px;
	line-height: 22px;
}
.show {
	height: 2000px;
	text-align: center;
	margin-bottom: 30px;
}
.imgs,
.bgs {
	display: inline-block;
	width: 45%;
	height: 100%;
	padding: 20px 1% 0;
	vertical-align: top;
	border: #ccc 2px dashed;
	position: relative;
}
.imgs ul,
.bgs ul {
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-y: scroll;
}
.imgs li,
.bgs li {
	display: block;
	height: 6%;
	margin-bottom: 2%;
	text-align: left;
}
.imgs:before {
	display: block;
	padding: 0 10px;
	color: #aaa;
	background: #f2f2f2;
	position: absolute;
	top: -12px;
	left: 15px;
	content: 'IMG标签图片';
}
.imgs img {
	max-width: 80%;
	max-height: 100%;
}
.bgs:before {
	display: block;
	padding: 0 10px;
	color: #aaa;
	background: #f2f2f2;
	position: absolute;
	top: -12px;
	left: 15px;
	content: 'css背景图片';
}
.bgs li i {
	display: inline-block;
	width: 50%;
	height: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.bgs li.b01 i {
	background-image: url(../images/images_16.jpg);
}
.bgs li.b02 i {
	background-image: url(../images/images_017.jpg);
}
.bgs li.b03 i {
	background-image: url(../images/images_18.jpg);
}
.bgs li.b04 i {
	background-image: url(../images/images_19.jpg);
}
.bgs li.b05 i {
	background-image: url(../images/images_20.jpg);
}
.bgs li.b06 i {
	background-image: url(../images/images_21.jpg);
}
.bgs li.b07 i {
	background-image: url(../images/images_22.jpg);
}
.bgs li.b08 i {
	background-image: url(../images/images_23.jpg);
}
.bgs li.b09 i {
	background-image: url(../images/images_24.jpg);
}
.bgs li.b10 i {
	background-image: url(../images/images_25.jpg);
}
.bgs li.b11 i {
	background-image: url(../images/images_26.jpg);
}
.bgs li.b12 i {
	background-image: url(../images/images_27.jpg);
}
.bgs li.b13 i {
	background-image: url(../images/images_28.jpg);
}
.bgs li.b14 i {
	background-image: url(../images/images_29.jpg);
}
@media only screen and (min-width: 100px) and (max-width: 780px) {
	.imgs img {
		max-width: 80%;
		max-height: 80%;
	}
	.bgs li i {
		display: block;
		width: 80%;
		height: 70%;
	}
}